<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>DatabaseDemo</servlet-name>
    <servlet-class>com.sergion.tomcat_web_app.DatabaseServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DatabaseDemo</servlet-name>
    <url-pattern>/DatabaseDemo</url-pattern>
  </servlet-mapping>

</web-app>


